.app{
  padding: 40px;

  &__title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    h1{
      font-size: 30px;
      font-weight: 700;
      margin-right: 10px;
    }
    i{
      font-size: 30px;
      color: #007e07;
    }
  }
}
